# Continuous Integration for Rust build and tests

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-and-test:
    name: Build and Test (${{ matrix.runner }})
    strategy:
      fail-fast: false
      matrix:
        runner: [ ubuntu-22.04, ubuntu-22.04-arm, macos-14 ]
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Install Clippy
        run: rustup component add clippy

      - name: Run Clippy
        run: cargo clippy

      - name: Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
